@model CarteleraCine.Models.Sala

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de Eliminar la Sala?</h3>
<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoButacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoButacas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <br />
        <br />
        <a class="btn btn-dark" asp-action="Index">Regresar</a>
    </form>
    <hr />
</div>
