@model IEnumerable<CarteleraCine.Models.Pelicula>

@{
    ViewData["Title"] = "Inicio";
}




<div class="container">
    <!-- end carrousel -->
    <div class="w-100 text-center mt-3">
        <h3>PELICULAS EN ESTRENO</h3>
    </div>
    <!-- card peliculas -->
    <div class="row">
        @foreach (var item in Model)
        {
            <!--CARTA DE MARIO BROS-->
            <div class="col-sm-6 col-md-4">

                <a asp-action="Detalle" asp-route-id="@item.PeliculaId">
                    <div class="card">
                        <h5 class="pt-1 pb-1 rounded card-text text-bg-warning text-white text-center justify-">ESTRENO</h5>
                        <a class="text-center"><img src="assets/images/mario.jpg" class="card-img tamaño " alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title text-center text-dark">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                            <h5 class="pt-2 pb-2 card-text text-bg-dark text-white text-center">DISPONIBLE EN 2D Y 3D</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </a>
             </div>
            <!--FIN CARTA MARIO BROS-->
                   
        }
    </div>
    <!--FIN CARTA SUZUME-->
</div>

<div class="container">
    <div class="w-100 text-center mt-3">
        <h3>CARTELERA DE LA SEMANA</h3>
    </div>
    <div class="row">
        <!--CARTA DE MARIO BROS-->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <h5 class="pt-1 pb-1 rounded card-text text-bg-warning text-white text-center justify-">
                    ESTRENO
                </h5>
                <a class="text-center"><img src="assets/images/mario.jpg" class="card-img tamaño " alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">Super Mario Bros</h5>
                    <h5 class="pt-2 pb-2 card-text text-bg-dark text-white text-center">
                        DISPONIBLE EN 2D Y 3D
                    </h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <!--FIN CARTA MARIO BROS-->
    </div>
</div>


