@model IEnumerable<CarteleraCine.Models.Pelicula>

@{
    ViewData["Title"] = "Inicio";
}


<div class="container">
    <!-- end carrousel -->
    <div class="w-100 text-center mt-3">
        <h3>CARTELERA CINE+</h3>
    </div>
   
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-6">
                <a asp-action="Detalle" asp-route-id="@item.PeliculaId" style="text-decoration:none">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@Html.DisplayFor(modelItem => item.Poster)" style="height:250;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.Sinopsis)</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


