@model CarteleraCine.Models.FuncionP

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Funciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Funciones" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="oFuncion.Pelicula.PeliculaId" class="control-label">Película</label>
                <select asp-for="oFuncion.PeliculaId" class="form-control" asp-items="@Model.oIdPelicula">
                    <option selected disabled>-- Seleccionar --</option>
                </select>

            </div>

            <div class="form-group">
                <label asp-for="oFuncion.Sala.SalaId" class="control-label">Sala</label>
                <select asp-for="oFuncion.SalaId" class="form-control" asp-items="@Model.oIdSala">
                    <option selected disabled>-- Seleccionar --</option>
                </select>

            </div>


            <div class="form-group">
                <label asp-for="oFuncion.Horario" class="control-label"></label>
                <input asp-for="oFuncion.Horario" type="datetime-local" class="form-control" />
                <span asp-validation-for="oFuncion.Horario" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
