@model CarteleraCine.Models.Funcione

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Funciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PeliculaId" class="control-label"></label>
                <select asp-for="PeliculaId" class ="form-control" asp-items="ViewBag.PeliculaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <select asp-for="SalaId" class ="form-control" asp-items="ViewBag.SalaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
