@model CarteleraCine.Models.FuncionP

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Funcione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="oFuncion.FuncionId" />
            <div class="form-group">
                <label asp-for="oFuncion.Pelicula.PeliculaId" class="control-label">Película</label>
                <select asp-for="oFuncion.PeliculaId" class="form-control" asp-items="@Model.oIdPelicula">
                    <option selected disabled>-- Seleccionar --</option>
                </select>

            </div>

            <div class="form-group">
                <label asp-for="oFuncion.Sala.SalaId" class="control-label">Sala</label>
                <select asp-for="oFuncion.SalaId" class="form-control" asp-items="@Model.oIdSala">
                    <option selected disabled>-- Seleccionar --</option>
                </select>

            </div>


            <div class="form-group">
                <label asp-for="oFuncion.Horario" class="control-label"></label>
                <input asp-for="oFuncion.Horario" type="datetime-local" class="form-control" />
                <span asp-validation-for="oFuncion.Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
