@model CarteleraCine.Models.CalificacionP

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Calificacione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="oCalificacion.CalificacionId" />
            <div class="form-group">
                <label asp-for="oCalificacion.Pelicula.PeliculaId" class="control-label">Película</label>
                <select asp-for="oCalificacion.PeliculaId" class="form-control" asp-items="@Model.oIdPelicula">
                    <option selected disabled>-- Seleccionar --</option>
                </select>

            </div>

            <div class="form-group">
                <label asp-for="oCalificacion.Puntuacion" class="control-label"></label>
                <input asp-for="oCalificacion.Puntuacion" class="form-control" />
                <span asp-validation-for="oCalificacion.Puntuacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oCalificacion.FechaCalificacion" class="control-label"></label>
                <input asp-for="oCalificacion.FechaCalificacion" class="form-control" />
                <span asp-validation-for="oCalificacion.FechaCalificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
